// FOOTER :: START

footer#footer.footer

  .footer__container.footer__container-1

    .c-grid
      .footer__wrapper.footer__wrapper-1

        .footer__block-container

          .footer__block-wrapper.footer__block-wrapper-1
            div

              .footer__box-wrapper
                div

                  .footer__animation.footer__animation-1
                    span
                    span
                    span
                    span
                    i
                    .footer__animation-box
                      img(src="img/icon-footer-animation-1.png" srcset="img/icon-footer-animation-1@2x.png 2x" alt="")

                div

                  .footer__box.footer__box-1
                    h2.footer__box-title!= "Metrics: <span>$RUST</span>"
                    p.footer__box-total!= "<strong>Total supply</strong>: N/A"
                    p.footer__box-desc
                      | Airdrop Amount: 1500 Rust @ 4444 NFTs = 13,332,000
                      br
                      | $RUST airdropped 2 times.
                      br
                      | Inflation Amount: 5.625 Rust per 6-hour window staked.
                    p.footer__box-token!= "<strong>Team Token</strong>: 10% of Airdrop (optional)"

            div

              .footer__block.footer__block-1
                ul.footer__block-list
                  li
                    div
                      p Total supply
                    div
                      p Uncapped
                  li
                    div
                      span Liquidity Reserves 1
                    div
                      span 10,000,000 $RUST
                  li
                    div
                      span Aidrop
                    div
                      span 13,332,00 $RUST
                  li
                    div
                      span Team Tokens
                    div
                      span 5,000,000 $RUST

          .footer__block-wrapper.footer__block-wrapper-2
            div
              .footer__box-wrapper
                div

                  .footer__animation.footer__animation-2
                    span
                    i
                    .footer__animation-box
                      img(src="img/icon-footer-animation-2.png" srcset="img/icon-footer-animation-2@2x.png 2x" alt="")

                div

                  .footer__box.footer__box-2
                    h2.footer__box-title!= "Metrics: <span>$OIL</span>"
                    p.footer__box-total!= "<strong>Total supply</strong>: 24 million $OIL"
                    p.footer__box-desc
                      | Available for Conversion (from $RUST): 23,450,000 $OIL
                      br
                      | - (this number caps staking (prestige) level at 50 for 4444 NFTs)
                    p.footer__box-token!= "<strong>Team Token</strong>: 550,000 $OIL (optional)"

            div

              .footer__block.footer__block-2
                ul.footer__block-list
                  li
                    div
                      p Total supply
                    div
                      span 24,000,000 $OIL
                  li
                    div
                      span Mintable from $RUST in Contract
                    div
                      span 23,450,000 $OIL
                  li
                    div
                      span Team Tokens
                    div
                      span 550,000 $OIL

          .footer__block-wrapper.footer__block-wrapper-3
            .footer__box-wrapper
              div

                .footer__animation.footer__animation-3
                  i
                  .footer__animation-box
                    img(src="img/.png" srcset="img/icon-footer-animation-3@2x.png 2x" alt="")

              div

                .footer__box.footer__box-3
                  h2.footer__box-title!= "Metrics: <span>$OIL</span>"
                  p.footer__box-desc - Buyback mechanism, uses 10% of $RUST burned during $OIL conversion to buy $OIL off the market, that market bought oil is then distributed to $OIL single sided stakers.
                  p.footer__box-desc - Remaining 90% of $RUST is burned out of circulation.
                  p.footer__box-total!= "<strong>Staking Level</strong>: Max Level of 50"
                  p.footer__box-total!= "<strong>NFT Mint Count</strong>: 4.444 TRV"
                  p.footer__box-desc * if all 3 tiers are staked simultaneously a 15% boost is rewarded to the yield.


  .footer__container.footer__container-2

    .footer__bg

    .c-grid
      .footer__wrapper.footer__wrapper-2
        div

          .copyright Copyright©ALCHEMY LABS

        div

          .made EST. 2022


// FOOTER :: END
